version: "3.8"

services:

  staging_backend:
    build: .
    restart: always
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
    env_file:
      - .env

  backend:
    build: .
    restart: always
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
    env_file:
      - .env
